@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

html,body {
  height:100%;
    background-size: cover;
    color:white;
    font-family: 'Lato', sans-serif;
}

@media (min-width:768px) {
    h1 {
        font-size:68px;
    }
}

a {
    color:#white;
}

a:hover {
    color:#111;
}

.btn,.well,.panel {
    border-radius:0;
}

.btn-danger {
    background-color:#faf15a;
}

.text-danger, a.text-danger {
    color:#faf15a;
}

.btn-huge {
    padding:17px 22px;
    font-size:22px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.bitter {
    font-family: 'Bitter', serif;
}

.icon-bar {
  background-color:#fff;
}

.navbar-trans {
  background-color:#2b2b2b;
    color:#cdcdcd;
    border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#faf15a;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
  background-color:#ffd700;
  color:#333;
}

.navbar-trans li>a:hover {
  background-color:#e5c100;
  color:#000;
}



.navbar-trans a{
    color:#cdcdcd;
    letter-spacing:1px;
}

.navbar-trans .form-control:focus {
  border-color: #eee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

@media (min-width:768px) {
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}


//added css


img.country-image{
    padding: 5px;


}

a#dropdownMenu:hover{

      opacity: 0.9;
}

a#dropdownMenu{

  background-color:transparent ;
  color:#000;

}

a#dropdownMenuTools:hover{

  background-color:pink;
  opacity:0.9;

}

a#dropdownMenuTools:focus{

  color:white;

}
a#dropdownMenuTools:active{

background-color: transparent;
}

ul.dropdown-menu {

  background-color: #2b2b2b;

}

.country-drop-name{

display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    color:white;
}

li.ng-scope{
      white-space: nowrap;
}

a.country-drop:hover{
 opacity: 0.7 !important;
 background-color: transparent !important;
}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{

    background-color: transparent; !important;

}

body{

  background: #FDD835;
}

.body-sum{
  background: #2b2b2b;
  margin-top: 70px;
  padding:5px;
}

.body-search{
    background: #2b2b2b;
    margin-top: 20px;
    padding: 5px;
    float: left;
    width: 78%;
}

.body-spot{
    background: #2b2b2b;
    margin-top: 20px;
    padding: 5px;
    float: left;
    width: 78%;
}

.body-p4p{
     background: #2b2b2b;
    margin-top: 20px;
    padding: 5px;
    float: right;
    width: 20%;
  }

.body-p4p ul{
  list-style-type: decimal ;
  padding:0px;
          padding-left: 30px;

}

.caret{border-top:4px solid white;}

img#brand-img{
      padding: 0px !important;
    margin: 0px !important;

}

p.dev-tools{

color:red;

}

.search-bar{

  background: #4f5b66;
  border: 0px;
  color:white;
}

.btn-search{

 background: #4f5b66;


}

img.loader{

  display: table;
    margin: 0 auto;
    zoom:30%;
    margin-top: 30px;
}


.body-sum h1.header{

    width: 100%;
    font-size: 52px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;

}

.p4p-fighter-block{


}

h4.p4p-fighter-name{

  display:inline;
    font-size: 1em;

    margin-left: 10px;
}

img.p4p-fighter-pic{
  display:inline;

    margin-left: 10px;
  }

.fighter-search{

  padding:100px;

text-align: center;

}

.btn.btn-primary.advanced{

margin-top:20px;
}



@media screen and (max-width: 768px) {
    
  .body-sum{width:100%;}

  .body-search{width:100%;}
  .body-p4p{width:100%;}
  .body-spot{width:100%;}


  .body-sum h1.header{

    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;

}

}
